.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);
    .home{
      background-color: #111;

    }
  
    .chartGrid {
      stroke: rgba(228, 228, 228, 0.219);
    }
  
    .table {
      background-color: #111;
  
      .tableCell {
        color: gray;
      }
    }
  
    .navbar {
      background-color: #999;
      border-color: #333;
  
      .search {
        border-color: gray;
      }
    }
  
    .sidebar {
      background-color: #111;
      border-color: #333;
  
      .top {
        background-color: #999;
        
        .logo {
          background-color: #999;
        }
      }
      hr {
        border-color: #333;
      }
  
      ul {
        li {
          &:hover {
            background-color: #333;
          }
  
          .icon {
            color: #999;
          }
        }
      }
    }
  
    .datatable {
      .datagrid {
        color: gray;
        border: none;
       .cellWithStatus{}
        .viewButton,
        .deleteButton,
        {
          //color: gray;
          //border:0.2px solid;
          //border-color: whitesmoke;
        }
        .menu{
          color:#fff;
        }
      }
    }
  
    input{
        background-color: transparent;
    }
  }
  